.sad_empty_list {
    text-align: center;
    margin-bottom: 60px;
}

mat-card {
    width: 20%;
    min-width: 270px;
    float: left;    
    margin-right: 30px;
}

.example-full-width {
    width: 100%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    font-size: small;
  }
  
  .example-margin {
    margin: 10px;
  }

  .item_image {
      width: 90%;
      height: auto;
  }

  mat-card-title {
      width: 100%;
  }

 

  .add_new_item_fab {
    position: fixed !important;
    z-index: 1;
    right: 15px; /* Add this and change value to set the margin you want */
    bottom: 20px;
  }

  .show_suggestions_fab {
    position: fixed !important;
    z-index: 1;
    right: 15px; /* Add this and change value to set the margin you want */
    bottom: 90px;
  }

  .left_pane {
    width: 48%;
    float: left;
  }

  .right_pane {
    width: 48%;
    float: left;
    background-color: antiquewhite;
    padding-left: 15px;
    
    /* background-color: aliceblue; */
    
  }

  .full_width {
    width: 98%;
    
  }

  .content_from_toolbar {
    margin-top: 65px;
  }

 