<button class="add_new_item_fab" mat-fab (click)="openBottomSheet()">
    <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->
    <mat-icon>add</mat-icon>
</button>
<form [formGroup]="searchAndSortForm">
    <mat-toolbar>
       <section class="example-section">
            <label class="example-margin"><a mat-stroked-button (click)="onSortByClick()">Sort {{ sortAscending ? 'ascending' : 'descending'}} by</a></label>
            <mat-radio-group [formControl]="sortBy">
            <mat-radio-button class="example-margin" value="add_date">
                Add date
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="name">
                Name
            </mat-radio-button>
            <!-- <mat-radio-button class="example-margin" value="priority">
                Priority
            </mat-radio-button> -->
            </mat-radio-group>
      </section>
    <div class="mdl-layout-spacer"></div>
    
        <mat-search-bar aria-hidden="false" [formControl]="searchBar" aria-autocomplete="false" autocomplete="off"></mat-search-bar>
        
</mat-toolbar>
</form>

<div class="left_pane">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div style="padding: 13px;">
      <div class="sad_empty_list" *ngIf="wishlistItems.controls.length == 0">
          <h2>😢</h2>
          <h3>Please add something to your list.</h3>
      </div>
      <form [formGroup]="productForm">
    
        <div formArrayName="wishlist_items">
          <div *ngFor="let item of wishlistItems.controls; let itemIndex=index; let last=last" [formGroupName]="itemIndex">
              <!-- <label>
              Item {{ item.value | json }}: <input formControlName="item" />
              </label> -->
              <mat-card style="margin-top:10px;">
                <div *ngIf="editingItemIndex != itemIndex">
                                 <mat-card-title >{{item.value.title}}</mat-card-title>
                                    <mat-card-subtitle>{{ item.value.category_id | categorynamebyid }}</mat-card-subtitle>
                                    <img class="item_image" src="{{ item.value.image_url }}" />                        
                       
                                    <div class="row" style=" margin-top: 20px;">
                                        <p>
                                          {{item.value.description}}
                                        </p>
                                       
                                    </div>
                                    
                                    <a mat-raised-button href="{{item.value.shop_url}}" target="_blank" color="primary" *ngIf="editingItemIndex != itemIndex && item.value.shop_url && item.value.shop_url.length > 0">Go shopping!</a>
                                    <!-- <button *ngIf="editingItemIndex == itemIndex" [disabled]="!item.valid" type="button" (click)="saveOrUpdateItem(item.value)" mat-flat-button color="primary">{{ (itemIndex == (wishlistItems.controls.length-1)) ? 'ADD to wishlist!' : 'Save' }}</button> -->
                                    <button style="float: right;" mat-stroked-button (click)="switchToEdit(itemIndex)">Edit</button>
                                    
                                   
                                  <!-- <button *ngIf="editingItemIndex == itemIndex && itemIndex != (wishlistItems.controls.length-1)" mat-stroked-button style="margin-top: 20px" color="warn" (click)="deleteItem(item.value)" x-test-hook-24>Delete</button> -->
                </div>
                <div *ngIf="editingItemIndex == itemIndex">
                    <mat-card-header>
                        <mat-card-title>Edit Item</mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="padding-left: 15px;">
                        
                        <div class="row">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Title</mat-label>
                                <input matInput placeholder="Title" formControlName="title"  autocomplete="off"
                                [errorStateMatcher]="matcher">
                                <mat-error>
                                    <span *ngIf="!item.get('title').valid && item.get('title').touched">Please enter Title</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="row">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Category</mat-label>
                                <!-- <mat-select formControlName="category_id" aria-placeholder="Pick one, please" x-test-hook-25>
                                    <mat-option *ngFor="let category of categories" [value]="category.id" x-test-hook-26>
                                      {{category.value}}
                                    </mat-option>
                                </mat-select> -->
                                <select matNativeControl formControlName="category_id">
                                    <option *ngFor="let category of categories" [value]="category.id" [selected]="category.selected == true">
                                        {{category.value}}
                                    </option>
                                </select>
        
                                <!-- <mat-error>
                                    <span *ngIf="!itemForm.get('category_id').valid && itemForm.get('category_id').touched">Please choose a category</span>
                                </mat-error> -->
                            </mat-form-field>
                        </div>
        
                        <div class="row">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Image URL</mat-label>
                                <input type="url" matInput placeholder="URL of the image" autocomplete="off" formControlName="image_url"
                                [errorStateMatcher]="matcher">
                                <mat-error>
                                    <span *ngIf="!item.get('image_url').valid && item.get('image_url').touched">Please enter Image URL</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="row" style=" margin-top: 20px;">
                            <mat-form-field appearance="outline" fluid class="example-full-width">
                                <mat-label>Description</mat-label>
                                <input type="text" matInput placeholder="Description" autocomplete="off" formControlName="description"
                                [errorStateMatcher]="matcher">
                                <mat-error>
                                    <span *ngIf="!item.get('description').valid && item.get('description').touched">Please enter a description</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="row">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Shop URL</mat-label>
                                <input type="url" matInput autocomplete="off" placeholder="URL of the ecommerce" formControlName="shop_url"
                                [errorStateMatcher]="matcher">
                                <mat-error>
                                    <span *ngIf="!item.get('shop_url').valid && item.get('shop_url').touched">Please enter Shop URL</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                      
                    </mat-card-content>
                    <mat-card-actions style="padding-left: 22px;">
                      <!-- <a mat-raised-button href="{{item.value.shop_url}}" target="_blank" color="primary" *ngIf="editingItemIndex != itemIndex && item.value.shop_url && item.value.shop_url.length > 0" x-test-hook-48>Go shopping!</a> -->
                      <button [disabled]="!item.valid" type="button" (click)="updateItem(item.value)" mat-flat-button color="primary">{{ (itemIndex == (wishlistItems.controls.length-1)) ? 'ADD to wishlist!' : 'Save' }}</button>
                      <!-- <button *ngIf="editingItemIndex != itemIndex" mat-stroked-button (click)="switchToEdit(itemIndex)" x-test-hook-50>Edit</button> -->
                      <button style="float: right;" mat-stroked-button color="secondary" (click)="cancelEdit()">Cancel</button>
                   
                      <mat-divider [inset]="true" style="margin-top: 10px;" *ngIf="editingItemIndex == itemIndex"></mat-divider>
                    <button mat-stroked-button style="margin-top: 20px" color="warn" (click)="deleteItem(item.value)">Delete</button>
                    
                     
                    </mat-card-actions>
                </div>      
          
              </mat-card>
    
              
              <!-- <button type="button" (click)="deleteSellingPoint(itemIndex)">Delete Item</button> -->
          </div>
          
        </div>
      </form>
    </div>
    
</div>
<div class="right_pane">
    <app-suggestions></app-suggestions>
</div>