.sad_empty_list {
    text-align: center;
    margin-bottom: 60px;
}

mat-card {
    width: 300px;
    float: left;    
    margin-right: 30px;
}

.example-full-width {
    width: 100%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    font-size: small;
  }
  
  .example-margin {
    margin: 10px;
  }