.mdl-layout--fixed-header {
    /* position: fixed; */
    height: 100px;
    width: 100%;
    
}

.logo {
    text-decoration: none;
    color: aliceblue;
}
.nav_right {
    width: 200px;
    float: right;
}