<div class="mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    
    <div class="mdl-layout__header-row">
      <mat-toolbar color="primary">
        <h1 class="mdl-layout__title">
          <a class="logo" [routerLink]="['/']">WISHLIST</a>
        </h1>
        <div class="mdl-layout-spacer"></div>
        <button mat-button (click)="logout()" aria-label="Logout" title="Logout"><mat-icon>exit_to_app</mat-icon></button> 
        
      </mat-toolbar>
    </div>
  </header>
</div>
<div class="top_spacer"></div>  
<router-outlet></router-outlet>
