<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" x-test-tpl-1>
  <header class="mdl-layout__header" x-test-hook-60>
    
    <div class="mdl-layout__header-row" x-test-hook-61>
      <mat-toolbar color="primary" x-test-hook-62>
        <h1 class="mdl-layout__title" x-test-hook-63>
          <a class="logo" [routerLink]="['/']" x-test-hook-64>WISHLIST</a>
        </h1>
        <div class="mdl-layout-spacer" x-test-hook-65></div>
        <button mat-button [routerLink]="['/about']" x-test-hook-66>About</button> 
        
      </mat-toolbar>
    </div>
  </header>
</div>
<router-outlet x-test-tpl-9></router-outlet>
