.suggestion_card {
    width: 28%;
    float: left;
    margin-right: 10px;
}

.suggestion_item_image {
    width: 90%;
    height: auto;
}

.suggestion_card_title {
    font-size: 16px;
}

.suggestion_card_description {
    font-size: 12px;
}