<div class="main__container">
    <div class="signup-card">
  
      <main class="signup-content">
        <span class="signup-header">Signup</span>
        <!-- signup form -->
  
        <form class="signup-form" (ngSubmit)="signup($event)" #authform="ngForm">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>email</mat-label>
                <input type="email" matInput placeholder="email" autocomplete="off" 
                [errorStateMatcher]="matcher" name="email" required>
                <!-- <mat-error>
                    <span *ngIf="!item.get('email').valid">Please enter Image URL</span>
                </mat-error> -->
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>password</mat-label>
                <input type="password" matInput placeholder="password" autocomplete="off" 
                [errorStateMatcher]="matcher" name="password" minlength="6" required>
                <!-- <mat-error>
                    <span *ngIf="!item.get('password').valid">Please enter Image URL</span>
                </mat-error> -->
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit" name="submit" value="Signup"  [class.btn-disabled]="!authform.form.valid"
                 [disabled]="!authform.form.valid">Signup</button>
        </form>
        <div class="login-link-wrapper">
          <span class="login-notice">Already Have an account?</span>
          <a class="login-link" routerLink="/login">login</a>
        </div>
  
      </main>
  
      <!-- linking to signup -->
      <aside class="signup-aside">
        <div class="signup-aside-overlay"></div>
        <h1 class="signup-welcome-text">Join WISHLIST Today!</h1>
        <hr class="signup-aside-hr">
      </aside>
    </div>
  </div>
  
  <app-error [message]="errorMessage"></app-error>